<div class="container mt-5 mb-5 d-flex justify-content-center">
  <div class="card px-1 py-4">
    <div class="card-body">

      <div class=" d-flex flex-column text-center px-5 mt-3 mb-3">
        Hier ihre E-Mail Adresse eintragen um das Passwort zurückzusetzen.
        <br>Anschließend wird ein neues Passwort vergeben und per EMail zugesendet.
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Email" [(ngModel)]="email" required> </div>
        </div>
      </div>

      <button class="btn btn-primary confirm-button" (click)="reset()">Bestätigen</button>
    </div>
  </div>
</div>
