<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Patient auswählen</h4>
    <button type="button" class="close" aria-label="Abbrechen" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ion-list lines="none">

      <ion-item *ngFor="let patient of patienten" detail="true" (click)="selectPatient(patient)">
        <ion-icon slot="start" name="contract-outline"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h2>{{patient.vorname}} {{patient.nachname}}</h2>
          <p>Benutzername: {{patient.username}}</p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>
</ng-template>


<ion-header>
  <ion-toolbar>
    <ion-title>mHealth</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="user?.isTherapeut()">
    <p class="ion-padding">aktueller
      Patient: {{aktuellerPatient === null ? '' : aktuellerPatient.vorname + ' ' + aktuellerPatient.nachname}}</p>
    <ion-buttons slot="end">
      <ion-button (click)="openPatientenAuswahl(content)">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        Patient wählen
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list lines="none">

    <ion-item *ngIf="user?.isPatient()" detail="true" (click)="openItem('/suche')">
      <ion-icon slot="start" name="search-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>Suche Kontakt</h2>
        <p>Finde Personen in der Nähe um mit Ihnen in Kontakt zu treten</p>
      </ion-label>
    </ion-item>

    <ion-item detail="true" (click)="openItemIfAktuellerPatientgesetzt('/kontakt')">
      <ion-icon slot="start" name="contract-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>Kontakt aufbauen</h2>
        <p>Kontakt zu definierten Stellen oder dem Therapeuten aufnehmen</p>
      </ion-label>
    </ion-item>

    <ion-item detail="true" (click)="openItemIfAktuellerPatientgesetzt('/warn')">
      <ion-icon slot="start" name="warning-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>Warnfunktion</h2>
        <p>Warnmeldung falls man sich einem der definierten Orte nähert</p>
      </ion-label>
    </ion-item>

    <ion-item detail="true" (click)="openItemIfAktuellerPatientgesetzt('/unterstuetzung')">
      <ion-icon slot="start" name="book-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>Patientenunterstützung</h2>
        <p>Übungen oder Maßnahmen zur selbstständigen Bearbeitung</p>
      </ion-label>
    </ion-item>

    <ion-item detail="true" (click)="openItem('/daten')">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>Datenerhebung</h2>
        <p>standardisierte und individuelle Fragebögen</p>
      </ion-label>
    </ion-item>

    <ion-item detail="true" (click)="openItem('/chat/show/chats')">
      <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>Chat</h2>
      </ion-label>
    </ion-item>

    <ion-item detail="true" (click)="openItem('/sonstiges')">
      <ion-icon slot="start" name="list-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>Sonstiges</h2>
        <p></p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="this.platformService.isApp()" detail="true" (click)="openItem('/download')">
      <ion-icon slot="start" name="chevron-down-circle-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>Download</h2>
        <p></p>
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>
